<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>出错啦</title>
    <link th:href="@{/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="margin-top: 1rem; margin-bottom: 0.5rem;">
    <div class="row justify-content-between">
        <div class="col-lg-auto">
            <div>
                <h3 style="margin-bottom: 3px;">Ruben Online Judge</h3>
                <h5 class="text-end fw-light">算法竞赛在线判题平台</h5>
            </div>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}" class="col-lg-auto align-self-center">
            <a th:href="@{/login}">登录</a>
            |
            <a th:href="@{/register}">注册</a>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="col-lg-auto align-self-center">
            <a th:href="@{/user_info}" sec:authentication="name">Undefined</a>
            |
            <a href="javascript:logout()">登出</a>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 0.5rem;">
    <nav class="navbar navbar-expand-lg border border-dark rounded">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" th:href="@{/}">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" th:href="@{/problem/list}">题库</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" th:href="@{/contest/list}">竞赛</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <p class="d-flex justify-content-center fs-1 fw-bold text-danger">您想访问的页面不存在</p>
</div>
<form th:if="${#authorization.expression('isAuthenticated()')}" id="logout_form" th:action="@{/logout}" method="post"></form>
<script type="text/javascript" th:src="@{/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    function logout()
    {
        let logout_form = document.getElementById("logout_form")
        if(logout_form != null)
            logout_form.submit()
    }
</script>
</body>
<style>
    .container {
        max-width: 1200px;
    }
    .nav-link {
        color: black!important;
    }
    .custom-nav-link  {
        padding: .25rem .1rem;
        border-color: rgb(59 89 152)!important;
    }
</style>
</html>