<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>编辑题目样例</title>
    <link href="../static/bootstrap-5.0.0-beta3-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/icons-1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="container" style="margin-top: 1rem; margin-bottom: 0.5rem;">
    <div class="row justify-content-between">
        <div class="col-lg-auto">
            <div>
                <h3 style="margin-bottom: 3px;">Ruben Online Judge</h3>
                <h5 class="text-end fw-light">算法竞赛在线判题平台</h5>
            </div>
        </div>
        <div class="col-lg-auto align-self-center">
            <a>登录</a>
            |
            <a href="/register">注册</a>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 1rem;">
    <a class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        返回
    </a>
</div>
<p class="text-center fs-3 fw-bold">编辑题目样例 —— 排序</p>
<div class="container" style="margin-top: 1rem;">
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">输入数据</th>
            <th scope="col">输出数据</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <th scope="row">10</th>
        <td style="width: 44%;">
            <a class="link-primary text-decoration-none" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                </svg>
                <div class="d-inline">input.txt</div>
            </a>
            <textarea name="input_area" class="form-control" rows="3" style="resize: none; margin-top: 0.5rem;" readonly></textarea>
            <input type="hidden" name="input" value="5\n1 2 3 4 5" />
        </td>
        <td style="width: 44%;">
            <a class="link-primary text-decoration-none" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                </svg>
                output.txt
            </a>
            <textarea name="output_area" class="form-control" rows="3" style="resize: none; margin-top: 0.5rem;" readonly></textarea>
            <input type="hidden" name="output" value="1 2 3 4 5" />
        </td>
        <td>
            <a class="btn btn-outline-danger" href="javascript:delete_testcase('123')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                删除
            </a>
        </td>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="container border border-dark rounded" style="margin-top: 1rem; padding: 10px;">
                <p class="fs-5 fw-bold">添加样例</p>
                <form>
                    <div class="mb-3">
                        <label for="input" class="form-label">输入</label>
                        <textarea class="form-control" id="input" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="output" class="form-label">输出</label>
                        <textarea class="form-control" id="output" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="提交">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5">
            <div class="container border border-dark rounded" style="margin-top: 1rem; padding: 10px;">
                <p class="fs-5 fw-bold">上传样例</p>
                <form>
                    <div class="mb-3">
                        <label for="input_file" class="form-label">输入</label>
                        <input class="form-control form-control-sm" id="input_file" type="file">
                    </div>
                    <div class="mb-3">
                        <label for="output_file" class="form-label">输出</label>
                        <input class="form-control form-control-sm" id="output_file" type="file">
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="上传">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">删除样例</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-dark" id="delete_caseID">您确定要删除该样例吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript">
    const input_area_arr = document.getElementsByName('input_area')
    const output_area_arr = document.getElementsByName('output_area')
    const input_arr = document.getElementsByName('input')
    const output_arr = document.getElementsByName('output')
    for(let i = 0; i < input_area_arr.length; i++)
    {
        //input_area_arr[i].value = input_arr[i].value
        input_area_arr[i].value = input_arr[i].value.replace('\\n', '\n')
        output_area_arr[i].value = output_arr[i].value
    }

    const modal = new bootstrap.Modal(document.getElementById('exampleModal'), null)

    function delete_testcase(caseID)
    {
        let a = document.getElementById('delete_caseID')
        a.innerText = '您确定要删除样例' + caseID + '吗？'
        modal.show()
    }
</script>
</body>
</html>